@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap");

/* svg {
  width: 24px;
  height: 24px;
} */

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

h2 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}

p {
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 10px;
}

span {
  font-size: 17px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

h2,
p,
span,
button {
  font-weight: 600;
  font-family: "Wix Madefor Text", sans-serif;
}

input,
textarea {
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 14px;
  padding-left: 10px;
  margin-top: 8px;
}

input {
  height: 40px;
  width: 100%;
}

div.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

textarea {
  resize: none;
  width: 100%;
  height: 70px;
}

label {
  font-family: "Bacasime Antique", serif;
  font-size: 16px;
  font-weight: 400;
}

div.button {
  display: flex;
  justify-content: flex-end;
  button {
    height: 39px;
    width: 220px;
    margin-top: 15px;
    background-color: black;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 7px;
  }
}
